body{
    background:#263238;
}

#app{
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    color:white;
    text-align:center;
    margin-top:50px;
}

.btn{
    cursor:pointer;
}

.character-card{
    border:2px solid #4FC08D;
    border-radius:4px;
    cursor:pointer;
    padding:10px;
}